.page {

    &-container {
        max-width: 760px;

        text-align: left;

        h1,
        h2,
        h3 {
            font-family: 'Playfair Display';
            font-size: 5rem;
            margin: 0;
            padding: 0;
    
        }

        h1 {
            padding: 1.5rem 0;

        }

        img {
            margin: 1.5rem 0;

        }


        @include media(laptop) {
            max-width: 960px;

        }

    }

    &-title {
        text-align: center;

    }
    
}
