.wp-block-group {
    margin: 4rem 0;
}

@include media( tablet ) {

    .wp-block-columns {
        @include flex(row, nowrap, center, center, flex);

        & > div {
            margin: 0 15px;
            text-align: left;

        }
        
    }


}