.button {
    display: inline-block;
    font-size: 16px;
    padding: 15px 30px;
    border-radius: 30px;

    margin-top: 5px;
    margin-bottom: 5px;
    
    @include transition(background-color);

    &-white {
        background-color: $white;

        &:hover {
            background-color: $yellow;

        }

    }

    &-black {
        background-color: $black;
        color: $white;

        &:hover {
            background-color: $yellow;
            color: $black;

        }

    }

}