$rwd-very-small: 320px;
$rwd-small: 480px;
$rwd-medium: 768px;
$rwd-large: 1024px;
$rwd-very-large: 1360px;
$rwd-full: 1600px;

$container-medium: 700px;
$container-large: 960px;
$container-very-large: 1100px;
$container-full: 1400px;